// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
/* Colors */
$text-dark: rgba(0, 0, 0, 0.65);
$text-grey: rgba(0, 0, 0, 0.5);
$text-lightgrey: rgba(0, 0, 0, 0.3);
